@tailwind base;
@tailwind components;
@tailwind utilities;


@layer site {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

}

.no-select p,
.no-select h1,
.no-select h2,
.no-select h3,
.no-select h4,
.no-select div,
.no-select span {
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (hover: hover){
  .hoverCard:hover{
    @apply -translate-y-1.5 translate-x-0
  }
}



.hyperlinks > a {
  @apply text-blue-500 hover:text-blue-600;
}

.tooltip::before{
  background-color: white;
  color: black;
}

.tooltip::after{
  border-color: white transparent transparent transparent;
}

.shimmer{
  @apply will-change-transform relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_1.5s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/10 before:to-transparent
}

.fadeColor{
  @apply transition-colors duration-300 ease-in-out;
}

.zoomIn {
  @apply transform scale-105 will-change-transform translate-x-0;
}

.submission-columns {
  grid-template-columns: repeat(auto-fill, minmax(275px, 2fr));
}

.glass,.glass:hover,.glass.btn-active {
  border: none;
  -webkit-backdrop-filter: blur(var(--glass-blur,40px));
  backdrop-filter: blur(var(--glass-blur,40px));
  background-color: transparent;
  background-image: linear-gradient(135deg,rgb(255 255 255/var(--glass-opacity,30%)) 0%,rgb(0 0 0/0%) 100%),linear-gradient(var(--glass-reflex-degree,100deg),rgb(255 255 255/var(--glass-reflex-opacity,5%)) 25%,rgb(0 0 0/0%) 25%);
  box-shadow: 0 0 0 1px rgb(255 255 255/var(--glass-border-opacity,10%)) inset,0 0 0 2px #0000000d;
  text-shadow: 0 1px rgb(0 0 0/var(--glass-text-shadow-opacity,5%))
}

.shimmer-hover:hover::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.1), transparent);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
