@tailwind base;
@tailwind components;
@tailwind utilities;


@layer site {

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

}

.no-select p,
.no-select h1,
.no-select h2,
.no-select h3,
.no-select h4,
.no-select div,
.no-select span {
  user-select: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

ol {
  list-style-type: decimal;
  margin-left: 2rem !important;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.edge-mask {
  mask-image: linear-gradient(to right, transparent, white 8px calc(100% - 8px), transparent);
}


@media (hover: hover) {
  .hoverCard:hover {
    @apply -translate-y-1.5 translate-x-0
  }
}

.hyperlinks a {
  @apply text-blue-500 hover:text-blue-600;
}

.tooltip::before {
  background-color: white;
  color: black;
}

.tooltip::after {
  border-color: white transparent transparent transparent;
}

.shimmer {
  @apply will-change-transform relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_1.5s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/10 before:to-transparent
}

.fadeColor {
  @apply transition-colors duration-300 ease-in-out;
}

.zoomIn {
  @apply transform scale-105 will-change-transform translate-x-0;
}

.submission-columns {
  grid-template-columns: repeat(auto-fill, minmax(275px, 2fr));
}

.contest-columns {
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.primary-btn {
  @apply btn btn-md normal-case btn-ghost w-fit hover:bg-primary bg-gray-800 text-primary hover:text-black hover:rounded-xl rounded-3xl transition-all duration-300;
}

.secondary-btn {
  @apply btn btn-md normal-case btn-ghost w-fit bg-secondary bg-opacity-20 hover:bg-secondary text-secondary hover:text-black hover:rounded-xl rounded-3xl transition-all duration-300;
}


.glass,
.glass:hover,
.glass.btn-active {
  border: none;
  -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
  backdrop-filter: blur(var(--glass-blur, 40px));
  background-color: transparent;
  background-image: linear-gradient(135deg, rgb(255 255 255/var(--glass-opacity, 30%)) 0%, rgb(0 0 0/0%) 100%), linear-gradient(var(--glass-reflex-degree, 100deg), rgb(255 255 255/var(--glass-reflex-opacity, 5%)) 25%, rgb(0 0 0/0%) 25%);
  box-shadow: 0 0 0 1px rgb(255 255 255/var(--glass-border-opacity, 10%)) inset, 0 0 0 2px #0000000d;
  text-shadow: 0 1px rgb(0 0 0/var(--glass-text-shadow-opacity, 5%))
}

.shimmer-hover:hover::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

.features-background-mask {
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.animated-feature-cards::before {
  @apply pointer-events-none absolute select-none rounded-xl opacity-0 transition-opacity duration-300 hover:opacity-100;
  background: radial-gradient(
    750px circle at var(--x) var(--y),
    #3aecf8 0,
    #5295dc 25%,
    rgba(255, 255, 255, 0) 50%,
    transparent 80%
  );
  z-index: -1;
  content: '';
  inset: -1px;
}

.wavy {
  @apply overflow-hidden;
}

.wavy::before {
  content: attr(data-text); 
  font-size: 4em;
  top: -42px;
  left: 0px;
  position: relative;
  display: flex;
  color: transparent;
  width: calc(100% + 33px);
  text-decoration-style: wavy;
  text-decoration-color: #57BAD7;
  text-decoration-line: underline;
  animation: wave 1s linear infinite;
}

@keyframes wave {
  0% {
    left: 3px;
  }
  100% {
    left: -30px;
  }
}