@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Virgil';
  src: local('Virgil'), url(./fonts/Virgil.woff2) format('woff');
}

@layer site {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}


.shimmer{
  @apply relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_1.5s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/10 before:to-transparent
}

.fadeColor{
  @apply transition-colors duration-300 ease-in-out;
}